# IDE
**/.vs
**/.vscode
**/.idea

# Root
Learning.sln

# C#
**/bin
**/obj

# C++ Debug file
**/x64/
**/.vs/

**/**.user # User build profile
**/**.exe
**/**.pdb

# PowerShell
/PowerShell/File/*.txt

# Go

# Rust
**/target